nav{
  background-color:#42a5f5;
}

#navbar_1 {
    font-size: 40px;
    margin-top: 8px;
}
#navbar_2{
   margin-left: 30px;
    font-size: 20px;
}
#navbar_3{
   font-size: 40px;
    margin-right: 20px;
    margin-top: 10px;

}
#course_name
{
   background-color:rgba(220,220,220);
    height:15vh;
   width:100vw;   
}
.fixed-action-btn
{
  top:16vh;
  right:6vw; 

}
.card
{
  background-color:#1A6CBD;
  
}






