body {margin:0px}

.container
  {
    display:block; 
    position:absolute;
    top:30%;
    left:30%;
    width:30vw;
     height:40vh;
     background-color:red;
  }
#ajax_form
  {
    position:relative;
   top:30%;
    left:30%;

      }
.register_mode{
  opacity:0;
  position:absolute;
  top:70%;
  left:30%;
  width:30vw;
  height:45vh;
  background-color:red;
}
#create_data
  {
    position:relative;
   top:30%;
    left:30%;

      }
.sucess{
  
  position:absolute;
  font-size:50px;
  background-color:blue;

} 
